proxy_cache_path /var/cache/nginx levels=1:2 keys_zone=nginx_cache:10m max_size=10g inactive=60m use_temp_path=off;

## Caching is use to lessen the load from the web server
## in able for the client not to re-download the same content
## Also browser caching helps you boost your web performance.

map $sent_http_content_type $expires {
    default                    off;
    text/html                  epoch;
    text/css                   max;
    application/javascript     max;
    application/json           max;
    text/json                  max;
    ~image/                    max;
}


server {
	    index index.html index.htm index.nginx-debian.html;
        server_tokens off;
        keepalive_timeout 800s;

        ## Compression is used to lessen the size of the data being sent by the server
        
        gzip on;
        gzip_comp_level 5;
        gzip_min_length 250;
        gzip_proxied any;
        gzip_vary on;
        gzip_types
            application/atom+xml
            application/javascript
            application/json
            application/ld+json
            application/manifest+json
            application/rss+xml
            application/vnd.geo+json
            application/vnd.ms-fontobject
            application/x-font-ttf
            application/x-web-app-manifest+json
            application/xhtml+xml
            application/xml
            font/opentype
            image/bmp
            image/jpeg
            image/png
            image/jpg
            image/svg+xml
            image/x-icon
            text/cache-manifest
            text/css
            text/plain
            text/vcard
            text/vnd.rim.location.xloc
            text/vtt
            text/x-component
            text/x-cross-domain-policy;
        
	server_name {{ domain_name }} {% if server_alias %} {{ server_alias }} {% endif %}; 

	location / {
	        proxy_pass http://localhost:{{ service_port }};
            proxy_buffering off;
            proxy_redirect off;
            proxy_cache nginx_cache;
            proxy_cache_revalidate on;
            proxy_cache_min_uses 3;
            proxy_cache_use_stale error timeout updating http_500 http_502 http_503 http_504;
            proxy_cache_background_update on;
            proxy_cache_lock on;
	        proxy_http_version 1.1;
            proxy_set_header        Host $host;
            proxy_set_header        X-Real-IP $remote_addr;
            proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header        X-Forwarded-Proto $scheme;
            proxy_hide_header Server;
            proxy_cookie_path / "/; secure";
            add_header 'Access-Control-Allow-Origin' '';
            add_header 'Access-Control-Allow-Credentials' 'true';
            add_header 'Access-Control-Allow-Methods' 'GET, POST, PUT, DELETE, OPTIONS' always;
            add_header 'Access-Control-Allow-Methods' 'GET, HEAD, POST, PUT, DELETE, CONNECT, OPTIONS, TRACE, PATCH';
            add_header 'Access-Control-Allow-Headers' 'Accept,Authorization,Cache-Control,Content-Type,DNT,If-Modified-Since,Keep-Alive,Origin,User-Agent,X-Requested-With';

            expires $expires;
}
    add_header Strict-Transport-Security "max-age=31536000; includeSubDomains" always;
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Frame-Options SAMEORIGIN;
    add_header X-Content-Type-Options nosniff;
}

